@font-face{
	font-family: "LiuJianMaoCao-Regular";
	src: url('fonts/Liu_Jian_Mao_Cao/LiuJianMaoCao-Regular.ttf');
}

@font-face{
	font-family: "ConcertOne-Regular";
	src:url('fonts/Concert_One/ConcertOne-Regular.ttf');
}
@font-face{
	font-family: "ZillaSlab-Regular";
	src:url('fonts/Zilla_Slab/ZillaSlab-Regular.ttf');
}